<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Painting - Red Belt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-end align-items-center col-12">
        <div class="d-flex col-4 justify-content-around">
            <a href="/paintings"><u>Dashboard</u></a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/paintings/new" method="post" class="col-7 p-1 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Add a Painting</h2>
        {% with messages = get_flashed_messages(category_filter=['painting']) %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!!!!</strong>
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-around">
            <div class="col-4">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" style="width: 300px;">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control" style="width: 300px;"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" name="price" class="form-control" style="width: 300px;"></input>
                </div>
                <div class="form-group">
                    <label for="user_id"></label>
                    <input type="hidden" name="user_id" value="{{ logged_user.id }}" class="form-control">
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>